{% extends 'base.html.twig' %}

{% block title %}Добавить экзамен{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/exam-form.css') }}">
{% endblock %}

{% block body %}

<div class="form-page">
    <div class="form-container">
        <h1 class="form-title">Новый экзамен</h1>
        
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.subject) }}
                {{ form_widget(form.subject) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.examDate) }}
                {{ form_widget(form.examDate) }}
            </div>
            
            <button type="submit" class="btn-submit">Создать экзамен</button>
        {{ form_end(form) }}
        
        <a href="{{ path('app_exams') }}" class="btn-cancel">Назад к списку</a>
    </div>
</div>
{% endblock %}