{% extends 'base.html.twig' %}

{% block title %}Новый материал{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/materials.css') }}">
{% endblock %}

{% block body %}
<div class="material-form-page">
    <h1 class="form-page-title">
        <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-right: 10px;">
            <path d="M12 5v14M5 12h14" stroke="var(--color-primary)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Создание нового материала
    </h1>
    
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name, 'Название материала') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Например: Билеты 1-20'}}) }}
            {{ form_errors(form.name) }}
            <div class="form-hint">Введите краткое название для вашего материала</div>
        </div>
        
        <div class="form-group">
            {{ form_label(form.exam, 'Экзамен (необязательно)') }}
            {{ form_widget(form.exam, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.exam) }}
            <div class="form-hint">Привяжите материал к конкретному экзамену или оставьте общим</div>
        </div>
        
        <button type="submit" class="btn-submit">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-right: 8px;">
                <path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Создать и перейти к вопросам
        </button>
    {{ form_end(form) }}
    
    <a href="{{ path('app_materials') }}" class="form-back-link">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 12H5M5 12l6 6M5 12l6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Вернуться к списку
    </a>
</div>
{% endblock %}