{% extends 'base.html.twig' %}

{% block title %}Добавить задачу{% endblock %}

{% block body %}
<div class="form-page">
    <div class="form-container">
        <h1 class="form-title">Новая задача</h1>
        
        {# Используем 'attr' для добавления CSS-классов к виджетам Symfony #}
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.scheduledDate) }}
                {{ form_widget(form.scheduledDate) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.exam) }}
                {{ form_widget(form.exam) }}
            </div>
            
            <button type="submit" class="btn-submit">Создать задачу</button>
        {{ form_end(form) }}
        
        <a href="{{ path('app_tasks') }}" class="btn-cancel">Назад к списку</a>
    </div>
</div>
{% endblock %}